body {
  background-color: #282c34;
  color: white;
  font-family: Arial;
  text-align: center;
}

.App {
  text-align: center;
}

.container-fluid {
  padding: 0;
}

.row {
  margin: 0;
}

.header {
  background: #00000030;
  margin-bottom: 25px;
  display: flex;
}

.headerRight {
  float: right;
  background: url(./assets/header-right.png) left top no-repeat;
  background-size: cover;
  display: block;
  padding: 0;
}

.headerLeft {
  float: left;
  background: url(./assets/header-left.png) right top no-repeat;
  background-size: cover;
  display: block;
  padding: 0;
}

.headerLeftLinks, .headerRightLinks {
  padding-top: 45px;
}

.btn-header {
  transition: all .15s;
  display: inline-block;
  font-size: 1rem;
  border: 2px solid #fff;
  background-color: #22262a;
  color: #fff;
  font-family: Staatliches,sans-serif;
  margin-left: 5px;
  margin-right: 5px;
  width: 90px;
  background: linear-gradient(to right, transparent 50%, rgb(218, 218, 218) 50%);
  background-size: 200% 100%;
  background-position:left bottom;
  transition:all .5s ease;
}

.btn-header:hover {
  background-position:right bottom;
  color: black;
}

.mobileHeader {
  display: flex;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 50px;
}

.home-content {
  display: inline-block;
  padding: 0px 15px 0px 15px;
  overflow-y: scroll;
}

.mainHeader {
  margin: 0px 0px 25px 0px;
  font-size: 6.5rem;
  color: #fff;
  letter-spacing: 4px;
  font-family: Staatliches,sans-serif;
  font-weight: bold;
  overflow: hidden;
}

.subHeader {
  margin: 0;
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: rgb(184, 184, 184);
  letter-spacing: 4px;
  font-family: Staatliches,sans-serif;
  font-weight: bold;
}

.subHeader2 {
  margin: 0;
  margin-bottom: 10px;
  margin-top: 50px;
  font-size: 1.5rem;
  color: rgb(184, 184, 184);
  letter-spacing: 4px;
  font-family: Staatliches,sans-serif;
  font-weight: bold;
}
.subHeader3 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: rgb(184, 184, 184);
  letter-spacing: 4px;
  font-family: Staatliches,sans-serif;
  font-weight: bold;
}

.btn-home, .btn-home2 {
  transition: all .15s;
  display: inline-block;
  font-size: 1rem;
  border: 2px solid #fff;
  background-color: #22262a;
  color: #fff;
  font-family: Staatliches,sans-serif;
  margin-left: 5px;
  margin-right: 5px;
  width: 200px;
  background: linear-gradient(to right, transparent 50%, rgb(218, 218, 218) 50%);
  background-size: 200% 100%;
  background-position:left bottom;
  transition:all .5s ease;
  margin-bottom: 25px;
}

.btn-home:hover, .btn-home2:hover {
  background-position:right bottom;
  color: black;
}


.status {
  text-decoration: underline;
  color: green;
}

.footer {
  bottom: 0;
  position: fixed;
  width: 100%;
  padding: 20px;
  background: #23252b;
  z-index: 41;
  font-family: Staatliches,sans-serif;
  color: rgb(214, 212, 212);
}

.clear {
  height: 100px;
  width: 100%
}

.contactCenter {
  width: 100%;
  font-size: 32px;
  line-height: 48px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Staatliches', cursive;
}

.about, .project, .register, .login, .dashboard {
  width: 80%;
  margin: auto;
}

.colHoverEffectHelp {
  margin: 0;
  padding: 0;
}

.contactA {
  color: white;
}
.contactA:hover {
  color: white;
}

.linkedInIcon {
  margin-top: 10px;
  padding-left: 14px;
  width: auto !important;
  padding-right: 14px;
}

.emailContactIcon {
  margin-top: 10px;
  padding-left: 12px;
  width: auto !important;
  padding-right: 12px;
}

.githubIcon {
  margin-top: 10px;
  padding-left: 15px;
  width: auto !important;
}

.resumeIcon {
  margin-top: 10px;
  padding-left: 17px;
  width: auto !important;
}

.githubLabel, .resumeLabel {
  padding-left: 20px;
}
.linkedInLabel, .emailContactLabel {
  padding-right: 20px;
}

.linkedInButton {
  width: 55px;
  background-color: #0077b5;
  float: right;
  text-align: right;
  margin-left: -185px;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: menuloadL .5s;
  animation: menuloadL .5s;
  animation-fill-mode: backwards;
  
}

.linkedInButtonPre {
  width: 55px;
  background-color: #0077b5;
  float: right;
  text-align: right;
  margin-left: -185px;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: menuloadL 0s;
  animation: menuloadL 0s;
  animation-fill-mode: none;
  
}

.linkedInButton:hover {
  
  /*transform:  translateY(-27px);*/
  -webkit-animation: menuhoverL 1s;
  animation: menuhoverL 1s;
  animation-fill-mode: forwards;
}

.githubButton {
  width: 55px;
  background-color: #333;
  float: left;
  text-align: left;
  margin-right: -185px;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: menuloadG .5s;
  animation: menuloadG .5s;
  animation-fill-mode: backwards;
  position: absolute;
  z-index: 40;
}

.githubButtonPre {
  width: 55px;
  background-color: #333;
  float: left;
  text-align: left;
  margin-right: -185px;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: menuloadG 0s;
  animation: menuloadG 0s;
  animation-fill-mode: none;
}

.githubButton:hover {
  -webkit-animation: menuhoverG 1s;
  animation: menuhoverG 1s;
  animation-fill-mode: forwards;
}

.emailContactButton {
  width: 55px;
  background-color: #5e5f5f;
  float: right;
  text-align: right;
  margin-left: -133px;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: menuloadE .5s;
  animation: menuloadE .5s;
  animation-fill-mode: backwards;
}

.emailContactButtonPre {
  width: 55px;
  background-color: #5e5f5f;
  float: right;
  text-align: right;
  margin-left: -133px;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: menuloadE 0s;
  animation: menuloadE 0s;
  animation-fill-mode: none;
}

.emailContactButton:hover {
  -webkit-animation: menuhoverE 1s;
  animation: menuhoverE 1s;
  animation-fill-mode: forwards;
}

.resumeButton {
  width: 55px;
  background-color: #569a8c;
  float: left;
  text-align: left;
  margin-right: -185px;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: menuloadR .5s;
  animation: menuloadR .5s;
  animation-fill-mode: backwards;
  position: absolute;
  z-index: 40;
}

.resumeButtonPre {
  width: 55px;
  background-color: #569a8c;
  float: left;
  text-align: left;
  margin-right: -185px;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: menuloadR 0s;
  animation: menuloadR 0s;
  animation-fill-mode: none;
}

.resumeButton:hover {
  -webkit-animation: menuhoverR 1s;
  animation: menuhoverR 1s;
  animation-fill-mode: forwards;
}

@keyframes menuhoverL {
  0% {
    width: 55px;
    background-image: linear-gradient(to left, #0077b5 100%, black 0%);
  }
  50% { 
    width: 175px;
  background-image: linear-gradient(to left, #0077b5 100%, black 0%);
  }
  100% {
    width: 165px;
      background-position: -100%;
  }
}

@keyframes menuloadL {
  0% {
    width: 160px;
    background-image: linear-gradient(to left, #0077b5 100%, black 0%);
  }
  50% { 
    width: 45px;  
    background-image: linear-gradient(to left, #0077b5 100%, black 0%);
  }
  100% {
    width: 55px;
    background-position: -100%;
  }
}

@keyframes menuhoverG {
  0% {
    width: 55px;
    background-image: linear-gradient(to left, #333 100%, black 0%);
  }
  50% { 
    width: 175px;
    background-image: linear-gradient(to left, #333 100%, black 0%);
  }
  100% {
    width: 165px;
    background-position: -100%;
  }
}

@keyframes menuloadG {
  0% {
    width: 160px;
    background-image: linear-gradient(to left, #333 100%, black 0%);
  }
  50% { 
    width: 45px;
    background-image: linear-gradient(to left, #333 100%, black 0%);
  }
  100% {
    width: 55px;
    background-position: -100%;
  }
}

@keyframes menuhoverE {
  0% {
    width: 55px;
    background-image: linear-gradient(to left, #5e5f5f 100%, black 0%);
  }
  50% { 
    width: 175px;
    background-image: linear-gradient(to left, #5e5f5f 100%, black 0%);
  }
  100% {
    width: 165px;
    background-position: -100%;
  }
}

@keyframes menuloadE {
  0% {
    width: 160px;
    background-image: linear-gradient(to left, #5e5f5f 100%, black 0%);
  }
  50% { 
    width: 45px;   
    background-image: linear-gradient(to left, #5e5f5f 100%, black 0%);
  }
  100% {
    width: 55px;
    background-position: -100%;
  }
}

@keyframes menuhoverR {
  0% {
    width: 55px;
    background-image: linear-gradient(to left, #569a8c 100%, black 0%);
  }
  50% { 
    width: 175px;
    background-image: linear-gradient(to left, #569a8c 100%, black 0%);
  }
  100% {
    width: 165px;
    background-position: -100%;
  }
}

@keyframes menuloadR {
  0% {
    width: 160px;
    background-image: linear-gradient(to left, #569a8c 100%, black 0%);
  }
  50% { 
    width: 45px;
    background-image: linear-gradient(to left, #569a8c 100%, black 0%);
  }
  100% {
    width: 55px;
    background-position: -100%;
  }
}

.links {
  font-weight: 600;
  color: #007bff;
}
.formField {
  display: inline-flex;
}
.labelIcon {
  border-radius: .25rem;
  width: 50px;
  margin: 0;
  background-color: #363b41;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  line-height: 36px;
  border: 1px solid #4b6abd;
  border-right: 0;
  left: 15px;
  position: absolute;
  transition: 450ms;
}

.form-control {
  background-color: #3b4148;
  color: #e8e8e8;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border: 1px solid #4b6abd;
  border-left: 0;
  margin-left: 50px;
  transition: 500ms;
}



.form-control:focus {
  background-color: #282c34;
  color: white;
}

.formView {
  width: 100%;
  max-width: 375px;
  padding: 20px;
  margin: auto;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.2);
  background: #2e333e;
  color: #e8e8e8;
}

.alert {
  padding: 0.1rem 1.25rem;
  margin-bottom: .5rem;
}

.btn-primary {
  outline: 0;
  border-radius: .25rem;
  height: calc(1.5em + .75rem + 2px);
}

.selectedInput {
  position: absolute;
  color: #bfbfbf;
  pointer-events: none;
  bottom: 6px;
  left: 75px;
  transition: transform 350ms cubic-bezier(0.4,0,0.2,1),opacity 350ms cubic-bezier(0.4,0,0.2,1);
}

.form-control:focus {
  box-shadow: none;
  transition: 950ms;
}

.form-control:focus ~ .hasInput {
  position: absolute;
  color: #495057;
  pointer-events: none;
  bottom: 6px;
  left: 75px;
  color: #1a73e8;
  transform: scale(.75) translateY(-27px);
  background: #282c34;
  padding: 0px 10px 0px 10px;
  transform-origin: bottom left;
  transition: all .3s cubic-bezier(0.4,0,0.2,1);
  transition-property: color,bottom,transform;
}

.form-control:focus + .labelIcon {
  border-color: #80bdff;
  transition: 1000ms;
}

.hasInput{
  position: absolute;
  color: #495057;
  pointer-events: none;
  bottom: 6px;
  left: 75px;
  color: transparent;
  transform: scale(.75) translateX(-6px) translateY(-40px);
  padding: 0px 10px 0px 10px;
  transform-origin: bottom left;
  transition: all .3s cubic-bezier(0.4,0,0.2,1);
  transition-property: color,bottom,transform;
}


.form-control:focus ~ .selectedInput{
  color: #1a73e8;
  transform: scale(.75) translateY(-27px);
  background: #282c34;
  padding: 0px 10px 0px 10px;
  transform-origin: bottom left;
  transition: all .3s cubic-bezier(0.4,0,0.2,1);
  transition-property: color,bottom,transform;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 768px) {
  .formView {
    width: 100%;
    max-width: none;
  }
}
@media only screen and (max-width: 767px) {
  .header {
    background: #1e2026;
    display: none;
  }
  .subHeader3 {
    display: none;
  }
  .clear {
    height: 150px;
    width: 100%
  }
  .mainHeader {
    font-size: 3.5rem;
  }
}

@media only screen and (max-width: 575px) {
	
}

@media only screen and (min-width: 768px) {
	.mobileHeader { 
    display: none;
  }
  .btn-home2 {
    display: none;
  }
}

.menuBtn {
  height: 30px;
  width: 30px;
  position: absolute;
  right: 20px;
  top: 10px;
  z-index: 101;
  background: none;
  outline: none !important;
  border: none;
}
.menuBtn > span {
  background-color: #fff;
  border-radius: 1px;
  height: 2px;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -1px 0 0 -15px;
  -webkit-transition: height 100ms;
  transition: height 100ms;
}
.menuBtn > span:after,
.menuBtn > span:before {
  content: '';
  background-color: #fff;
  border-radius: 1px;
  height: 2px;
  width: 100%;
  position: absolute;
  left: 50%;
  margin-left: -15px;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}
.menuBtn > span:after {
  top: -7px;
}
.menuBtn > span:before {
  bottom: -7px;
}
.menuBtn.act > span {
  height: 0;
}
.menuBtn.act > span:after,
.menuBtn.act > span:before {
  background-color: #007bff;
  top: 1px;
}
.menuBtn.act > span:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.menuBtn.act > span:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
/* main menu block */
.mainMenu {
  background-color: #2b2b2b;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  height: 100%;
  width: 100%;
  display: table;
  text-align: center;
  opacity: 0;
  -webkit-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transform: scale(0);
          transform: scale(0);
}
.mainMenu.act {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.mainMenu.act ul li {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.mainMenu ul {
  display: table-cell;
  vertical-align: middle;
  list-style: none;
}
.mainMenu li {
  padding: 8px 0;
  -webkit-transition: all 400ms 510ms;
  transition: all 400ms 510ms;
  opacity: 0;
}
.mainMenu li:nth-child(odd) {
  -webkit-transform: translateX(30%);
          transform: translateX(30%);
}
.mainMenu li:nth-child(even) {
  -webkit-transform: translateX(-30%);
          transform: translateX(-30%);
}
.mainMenu li:last-child {
  -webkit-transform: none;
          transform: none;
}
.mainMenu a {
  color: #007bff;
  display: inline-block;
  font-size: 18px;
}
.mainMenu a.suBtn {
  color: #fff;
}




